<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
</head>
<body>
    <h1>Mensajes</h1>
    <form th:action="@{/add}" method="post">
        <input type="text" name="message" placeholder="Mensaje"/>
		<input type="text" name="autor" placeholder="Nombre usuario autor"/>
        <button type="submit">Añadir</button>
    </form>

    <ul>
        <li th:each="msg : ${messages}" th:text="${msg}"></li>
    </ul>

    <a th:href="@{/users}">Usuarios</a>
</body>
</html>
